<!DOCTYPE html>
<html lang="pt-br">
    <%- include('./partials/header') %>
    <head>
        <title>Formulário</title>
        <link rel="stylesheet" href="..\css\padrao.css">
        <link rel="stylesheet" href="..\css\formulario.css">
        <link rel="stylesheet" href="..\css\rodape.css">
    </head>
<body>
    
    <div class="bg-site form-container">
        <h1 class="mx-auto h1-center">Formulário de Contato</h1>
        <p>Entre em contato com a equipe do SAC e esclareça as suas dúvidas.</p>
        <!-- Formulário -->
        <div class="mx-auto w-100">
            <form action="" method="" class="form">

                <div class="form-campo">
                    <label for="nome">Nome *</label>
                    <input type="text" name="nome" value="" required></input>    
                </div>

                <div class="form-campo">
                    <label for="nome">E-mail *</label>
                    <input type="email" name="email" value="" required></input>    
                </div>

                <div class="form-campo">
                    <label for="nome">Telefone *</label>
                    <input type="phone" name="tel" value="" required></input>    
                </div>

                <div class="form-campo">
                    <label for="nome">Mensagem*</label>
                    <textarea name="mensagem" ></textarea>    
                </div>

                <input type="submit" class="btn-2"></input>
            </form>

            <p style="margin-top: 20px">Campos com * são obrigatórios.</p>
            <p>Esclarecimentos adicionais podem ser obtidos pelo telefone 0800 000 0000.</p>
            
        </div>
    </div>

    <!-- Rodapé do site  -->
    <%- include('./partials/footer') %>
</body>
</html>