<!DOCTYPE html>
<html>
    <%- include('./partials/header') %>
<body>
    <div style="display: block;
    width: 500px;
    margin-top: 300px;">
        
        PÁGINA INICIAL
    </div>
    <%- include('./partials/footer') %>

</body>
</html>
