<!DOCTYPE html>
<html>
<%- include('./partials/header') %>
<head>
    <link rel="stylesheet" href="..\css\home.css">
</head>
<body>
    <main>
        
        <div class="home-icones">
            <div class = "opcoes-icones">
                <img src="/img/atendimento.png" alt="" class="imgAtendimento">
                <h3 class="home-text-icones">Atendimento Online</h3>
            </div>
            <div class = "opcoes-icones">
                <img src="/img/cartao.png" alt="" class="home-imgCartao">
                <h3 class="home-text-icones">Em até 6x sem juros</h3>
            </div>
            <div class = "opcoes-icones">
                <img src="/img/fretegratis.png" alt="" class="imgFreteGratis">
                <h3 class="home-text-icones">Frete Gratis para todo Brasil</h3>
            </div>
            <div class = "opcoes-icones">
                <img src="/img/boleto.png" alt="" class="imgBoleto">
                <h3 class="home-text-icones">10% de desconto por boleto</h3>
            </div>
        </div>
        <div class = "home-produtos-ofertas">
            <div class="home-produto-off">
                <button class="home-btnEuQuero">Eu quero</button>
            </div>
            <div class="home-produto-off">
                <button class="home-btnEuQuero">Eu quero</button>
            </div>
            <div class="home-produto-off">
                <button class="home-btnEuQuero">Eu quero</button>
            </div>
            <div class="home-produto-off">
                <button class="home-btnEuQuero">Eu quero</button>
            </div>
        </div>
        <div class = "home-marcas">
            
        </div>
        <div class = "home-ofertas-email">
            <div class="home-off-email">
                <h3 class="textEmailOff">Cadastra-se e saiba de ofertas pelo e-mail:</h3>
                <input type="email" class="home-emailCadastrar" required>
                <button class="home-btnEmailCadastrar">Cadastrar</button>
            </div>
        </div>
    </main>

    <!-- Rodapé -->
    <%- include('./partials/footer') %>

</body>
</html>
