
.form-container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form{
    text-align: center;
    width:100%;
    margin: auto;
}

@media (min-width: 769px)  {
    .form{
        text-align: center;
        width: 50%;
        margin: auto;
    }

}

.h1-center{
    display: block;
    margin: 0 auto;
    padding: 30px;
}

.form-campo{
    padding: 20px;
}

.form-campo input, .form-campo textarea{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
