<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rodapé</title>
    <link rel="stylesheet" href="..\css\padrao.css">
    <link rel="stylesheet" href="..\css\rodape.css">

</head>
<body>
    <!-- Rodapé do site  -->
        <footer class="bg-card rodape">
            <div class="rcard centro"> 
                <div class="card-laranja">
                    <h3 class="centro">Como podemos ajudar você?</h3>
                    <p class="centro">Venha desfrutar de nossas ofertas
                        e tenha o melhor do mercado pet
                        em sua casa 😍</p>
                </div>
            </div>
            <div class="rcard">
                <h3>Atendimento</h3>
                <p><a href="/">Central de atendimento</a></p>
            </div>
            <div class="rcard">
                <h3>Onde estamos?</h3>
                <p>logo facebook</p>
                <p>logo twitter</p>
                <p>logo youtube</p>
            </div>
            <div class="rcard">
                <h3>Formas de Pagamento</h3>
                <p>logo mastercard</p>
                <p>logo paypal</p>
                <p>logo america express</p>
            </div>
        </footer>
    <!-- Fim do Rodapé -->
</body>
</html>