<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Pet</title>
    <link rel="stylesheet" href="..\css\header.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="pai">
                <div class="desconto"></div>
                <div class="logo"> 
                    <img src="/img/logotipo.png" alt=""> 
                 </div>
                <div class="busca">
                    <input type="text" class="input-busca" placeholder="Faça sua pesquisa aqui">
                </div>
                <div class="login">
                    <img src="/img/Login.png" alt="imgLogin" class="imgLogin">
                    <h3 class="textLogin">Acesse sua conta</h3>
                </div>
                <div class="carrinho">
                    <img src="/img/Sacola.png" alt="imgSacola" class="imgSacola">
                    <h3 class="textSacola">Sacola</h3>                  
                </div>
                
                <div class="categorias">
                    <div class="fitaLaranja"></div>
                    <div class="mnuCategorias">
                        <button class="btnCategorias">Cachorro</button>
                        <button class="btnCategorias">Gato</button>
                        <button class="btnCategorias">Outros Pets</button>
                        <button class="btnCategorias">Fale conosco</button>
                        <button class="btnCategorias">Assinatura</button>
                        <button class="btnCategorias">Promoções</button>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main></main>
    <footer></footer>
</body>
</html>